<div class="row">
    <div class="col-12 text-center">
        @foreach (var cta in AsDynamic(ListContent.CTA)) {
            <a href="@cta.Link" class="btn btn-primary">@cta.Label</a>
        }
    </div>
</div>