@inherits ToSic.Sxc.Dnn.RazorComponent
@if(Header.CTA.Count > 0) {
    <div class="row">
        <div class="col-12 text-center">
            @foreach (var cta in AsList(Header.CTA)) {
                @RenderPage("_Cta.cshtml", new { cta = cta})
            }
        </div>
    </div>
}